
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">WELCOME TO CONTAINER MANAGER</a>
			</div>
			<ul class="nav navbar-nav">
                <li><a href="/" class = "navbarButtons">HOME</a></li>
				<li><a href="/add" class = "navbarButtons">ADD CONTAINER</a></li>
				<li><a href="/addinventory" class = "navbarButtons">ADD INVENTORY</a></li>
				<li><a href="/move" class = "navbarButtons">MOVE Container</a></li>
			</ul>
		</div>
	</nav>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" style="margin-left: 10es;">
    
        <label>
            Lable for Container:
            <input type="text" formControlName="label">
        </label>
       
        <label>
            Select Parent Container:
        <select class="custom-select"  formControlName="parent">
            <option value="" disabled>Choose your Parent Container (OPTIONAL)</option>
            <option *ngFor="let item of list_inventory" [ngValue]="item.id">{{item.label}}</option>
         </select>
        </label>
        <div class="invalid-feedback" *ngIf="isSubmitted && profileForm.value.hold_type=='' ">
            <sup>*</sup>Please enter Hold Type
         </div>
            
        <button type="submit">Submit</button>
</form>